<div class="alert alert-info">
  <p>This page documents the App and API Protection setup for Java services according to the following setup options:</p>
  <ol>
    <li>If your Java service already has APM tracing, then go to <a href="#service-configuration">service configuration</a></li>
    <li>If you want to benefit from Automatic Installation with Datadog's Single Step Installation, go to <a href="https://docs.datadoghq.com/tracing/trace_collection/automatic_instrumentation/single-step-apm">Single Step Instrumentation</a></li>
    <li>Manual setup following this page</li>
  </ol>
</div> 